@charset "UTF-8";

#wrap {
	width: 1200px;
	height: 800px;
	margin:0 auto;
}

header{
	height: 80px;
	background-color: #dddddd;
}

.contents{
	height: 500px;
}

.contents > .join-box{
	width: 300px;
}

.contents > .login-box{
	width: 200px;
}

.contents > .login-box > a {
	text-decoration: underline;
}

footer{
	height: 80px;
	background-color: #dddddd;
}